<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="LocalNugetServer" value="http://localhost:5000/v3/index.json" />
    <!-- <add key="LocalNugetServer" value="https://b8d5-78-183-110-17.ngrok-free.app/" /> -->
  </packageSources>
</configuration>
