@model GamersWorld.WebApp.Models.ReportRequestModel

<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">There Are Validation Errors!</h4>
    <p>Your report request was returned from the Messenger service.</p>
    <hr />
    <ul>
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <li>@error.ErrorMessage</li>
        }
    </ul>
    <p class="mb-0">Please correct the errors and try again.</p>
</div>