<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Success!</h4>
    <p>Rapor talebi alınmıştır!</p>
    <hr>
    <p class="mb-0">En kısa sürede bilgilendirileceksiniz.</p>
</div>
