<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Success!</h4>
    <p>Report request has been received!</p>
    <hr>
    <p class="mb-0">You will be informed as soon as possible.</p>
</div>
